<p>
    @*<a asp-action="Create" asp-controller="Category" asp-area="Admin" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; Create new category</a>*@
    <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; Create new category</a>
</p>