@model Guid
<p>
    @*<a asp-action="Create" asp-controller="Category" asp-area="Admin" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; Create new category</a>*@
    @*<a asp-action="Edit" class="btn btn-info" asp-route-Id="@Model.Id"><i class="fas fa-edit"></i> &nbsp; Edit category</a>*@
    <a asp-action="Edit" class="btn btn-info" asp-route-Id="@Model"><i class="fas fa-edit"></i> &nbsp; Edit category</a>
</p>