@using Microsoft.AspNetCore.Http
@* For acessing http session, if session doesn't exist we will create new session *@
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/customStyle.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
    @*<link rel="stylesheet" href="~/css/jquery-ui.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.16/jquery.timepicker.min.css" integrity="sha512-GgUcFJ5lgRdt/8m5A0d0qEnsoi8cDoF0d6q+RirBPtL423Qsj5cI9OxQ5hWvPi5jjvTLM/YhaaFuIeWCLi6lyQ==" crossorigin="anonymous" />
  
</head>
<body class="search-background">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/mild.png" />
                    <img src="~/images/spicy.png" />
                    <img src="~/images/verySpicy.png" />
                    @* For pointer style when hover the text *@
                    <label class="text-info" style="cursor:pointer;">Spice</label>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(Spice.Utility.SD.ManagerUser))
                        {
                            <li class="nav-item dropdown text-white-50">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Content Management
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="SubCategory" asp-action="Index">Sub Category</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="MenuItem" asp-action="Index">Menu Item</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Coupon" asp-action="Index">Coupons</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
                                </div>
                            </li>

                        }

                        @if (User.IsInRole(Spice.Utility.SD.ManagerUser) || User.IsInRole(Spice.Utility.SD.KitchenUser) || User.IsInRole(Spice.Utility.SD.FrontDeskUser))
                        {
                            <li class="nav-item dropdown text-white-50">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLinkOrder" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Order
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLinkOrder">
                                    @if (!User.IsInRole(Spice.Utility.SD.FrontDeskUser))
                                    {
                                        <a class="dropdown-item" asp-area="Customer" asp-controller="Order" asp-action="ManageOrder">Manage Order</a>
                                    }
                                    @if (!User.IsInRole(Spice.Utility.SD.KitchenUser))
                                    {
                                        <a class="dropdown-item" asp-area="Customer" asp-controller="Order" asp-action="OrderPickup">Order Pickup</a>
                                    }
                                </div>
                            </li>


                        }

                        @if (User.IsInRole(Spice.Utility.SD.ManagerUser) || User.IsInRole(Spice.Utility.SD.FrontDeskUser) || User.IsInRole(Spice.Utility.SD.CustomerEndUser) || User.IsInRole(Spice.Utility.SD.KitchenUser))
                        {
                            <li class="nav-item" style="color:white;">
                                <a asp-area="Customer" asp-controller="Order" asp-action="Index" class="nav-link">
                                    Order History
                                </a>
                            </li>
                        }

                        @* Retreiving the session *@

                        @{
                            var count = HttpContextAccessor.HttpContext.Session.GetInt32(Spice.Utility.SD.SessionCartCountCookie);
                            count ??= 0;
                        }


                        @*@if ( count != null)
                            {
                                <li style="color:white;">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-shopping-cart"></i> &nbsp; @count
                                    </a>
                                </li>

                            }*@

                        <li style="color:white;">
                            <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="nav-link">
                                <i class="fas fa-shopping-cart"></i> &nbsp; (@count)
                            </a>
                        </li>



                        @*<li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>*@
                    </ul>

                    <!-- cookie warning toast -->
                    <div class="fixed-bottom p-4">
                        <div class="toast bg-dark text-white w-100 mw-100" role="alert" id="toastAllowCockie" data-autohide="false">
                            <div class="toast-body p-4 d-flex flex-column">
                                <h4>Cookie Warning</h4>
                                <p>
                                    This website stores data such as cookies to enable site functionality including analytics and personalization. By using this website, you automatically accept that we use cookies.
                                </p>
                                <div class="ml-auto">
                                    <button type="button" class="btn btn-outline-light mr-3" id="btnDeny">
                                        Deny
                                    </button>
                                    <button type="button" class="btn btn-light" id="btnAccept">
                                        Accept
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white-50 pl-3" style="background-color:#343a40">
        <div class="container">
            &copy; 2021 - Spice
        </div>
    </footer>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>*@
    <script src="https://cdn.tiny.cloud/1/536ltgz7me4h1ba41m9zq06sckw3r7l2klyzpeo2uh8ste7u/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*Must be here because the bootstrap internal toast script is crashing,*@
    @RenderSection("Scripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/warningCoockieScript.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    @*<script src="~/js/jquery-ui.js"></script>*@
    @* <script src="~/js/site.js" asp-append-version="true"></script>*@

</body>
</html>
